@import url("/fonts/carnas_light_macroman/stylesheet.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans");

body {
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Header css starts*/
#header {
  background-color: #454545;
  height: 60px;
  font-family:'carnaslight';
  color:#efefef;
}
#header .logo{
	margin-top:15px;
}
#header .logo a:focus{
	text-decoration: none;
}
#header .logo span{
    font-size: 27px !important;
    vertical-align: top;
    font-style:italic;
}
#header .logo img{
	height:29px;
	vertical-align: bottom;
}
#header .header-toolbar,#header .header-toolbar li:last-child, #btn-sidemenu{
    height: 100%;
}
#header .button{
	border:0;
	margin: 0;
    display: block;
    width:40px;
}
#header .button-group{
    margin-top:10px;
}
#header li.open .button, #header ul.dropdown-menu, #header .button:active, #header .button.active{
    background: #454545;
    border-color: #454545;
}
#header #btn-sidemenu{
	background: #fae600;
	color:#fff;
	font-size:24px;
}
#header .button i.fa{
	vertical-align: bottom;
}

ul.red-ui-tabs,#workspace-add-tab{
	text-transform: capitalize;
	background: #d8d8d8;
}
#btn-usermenu i.fa{
	visibility:hidden;
}
#btn-deploy.disabled+#btn-deploy-options{
	background: #454545 !important;
}

#header #btn-usermenu{
    background: url(/images/user.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    display: inline-block;
    margin: -3px 20px 0 0;
    padding:0;
    border-radius: 100%;
    font-size: 14px;
    color: #fff;
}

a#btn-usermenu{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a#btn-usermenu:before {
    content: "\f0d7";
    right: 5px;
    position: absolute;
}
/* Header css ends*/
/* Main container css starts*/
#main-container{
	top:60px;
}
#main-container #palette{
	width:200px;
}
#main-container #workspace{
	left:199px;
}
.palette_node{
	width:150px;
	border-radius: 2px;
}
.palette_label{
	text-align:left;
	margin: 4px 0 4px 40px;
}
.palette_label_right {
    margin: 4px 28px 4px 14px;
}
ul.red-ui-tabs li a.red-ui-tab-label{
    text-align: center;
    padding: 0;
}
.palette-header {
    background: #f5f5f5;
}
.palette-content {
    background: #fafafa;
}
#palette-search{
	border-bottom: 2px solid #ddd;
}
#palette-search i.fa-search{
    font-size: 15px;
    color: #aaa;
    top: 9px;
}
#palette-search input{
	padding-left: 30px;
}
.palette_port{
	border-radius: 2px;
	width: 12px;
    height: 12px;
}
#sidebar-content .sidebar-node-info{
	padding:20px !important;
}
#btn-workspace-add-tab i.fa{
	color:#222;
}
.node,.port{
    rx:2;
    ry:2;
}
/* Main container css ends*/